.blockType {
  height: 36px;
  width: 36px;
  margin: 0;
  padding: 4px;

  line-height: 32px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.21);

  text-align: center;
  cursor: pointer;
}

.blockType svg {
  fill: #888;
}

.spacer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 74px;
  height: 8px;
}

.popup {
  width: 148px;
  left: 110px;
  top: 0;
  margin: 0;
  margin-left: 10px;

  font-size: 0;
  position: absolute;
  transform: translate(-50%);
  background: #ffffff;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.21);
  box-sizing: border-box;
  z-index: 3;
}

.popup:after, .popup:before {
  height: 0;
  width: 0;
  left: -5px;
  top: 50%;
  bottom: 100%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
}

.popup:after {
  border-color: rgba(251, 251, 251, 0);
  border-bottom-color: #fbfbfb;
  border-width: 5px;
  margin-left: -5px;
}
.popup:before {
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #ddd;
  border-width: 6px;
  margin-left: -6px;
}
